Repository IPS-Hosting/game-images: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-altv, run-build-ark

Add Valheim
  .github/workflows/valheim.yml
  valheim/Dockerfile
  valheim/README.md
  valheim/entrypoint.sh
Due: none

Dont copy mount.cfg in rust, scpsl and valheim
  rust/Dockerfile
  scpsl/Dockerfile
  valheim/Dockerfile
Due: none

Update scpsl.yml
  .github/workflows/scpsl.yml
Due: none

Update valheim.yml
  .github/workflows/valheim.yml
Due: none

Update README.md
  ark/README.md
Due: run-build-ark

Add tzdata package to respect TZ env variable
  altv/Dockerfile
  ark/Dockerfile
  arma3/Dockerfile
  csgo/Dockerfile
  gmod/Dockerfile
  rust/Dockerfile
  scpsl/Dockerfile
  valheim/Dockerfile
Due: run-build-altv, run-build-ark

Correctly enable noninteractive mode
  ark/Dockerfile
  gmod/Dockerfile
  rust/Dockerfile
  scpsl/Dockerfile
  valheim/Dockerfile
Due: run-build-ark

fix: dont write to /ips-hosting folder
  ark/entrypoint.sh
  arma3/entrypoint.sh
  csgo/entrypoint.sh
  gmod/entrypoint.sh
  rust/entrypoint.sh
  scpsl/entrypoint.sh
  valheim/entrypoint.sh
Due: run-build-ark

fix: set scpsl HOME env variable
  scpsl/Dockerfile
Due: none

fix: set Valheim and ValheimPlus env variables
  valheim/entrypoint.sh
Due: none

Add info about arma3 mods
  arma3/README.md
Due: none

Add safeguards in arma3 mod installation logic
  arma3/entrypoint.sh
Due: none

feat(arma): download mods one-by-one and retry on failure
  arma3/entrypoint.sh
Due: none

fix(arma): Install curl
  arma3/Dockerfile
Due: none

fix(arma3): retry mod download up to 5 times and dont wait between retries
  arma3/entrypoint.sh
Due: none

feat(ark): use automanagedmods and create useful symlinks
  ark/README.md
  ark/entrypoint.sh
Due: run-build-ark

feat(arma3): add limitFPS
  arma3/README.md
  arma3/entrypoint.sh
Due: none

chore: add GitHub link to all game README
  altv/README.md
  ark/README.md
  arma3/README.md
  csgo/README.md
  gmod/README.md
  rust/README.md
  scpsl/README.md
  valheim/README.md
Due: run-build-altv, run-build-ark

fix(csgo): install libsdl2-dev
  csgo/Dockerfile
Due: none

fix(gmod): install libsdl2-dev
  gmod/Dockerfile
Due: none

feat: add satisfactory
  .github/workflows/satisfactory.yml
  satisfactory/Dockerfile
  satisfactory/README.md
  satisfactory/entrypoint.sh
Due: none

fix(valheim): install sdl2
  valheim/Dockerfile
Due: none

Use force_install_dir before logon
  ark/entrypoint.sh
  arma3/entrypoint.sh
  csgo/entrypoint.sh
  gmod/entrypoint.sh
  rust/entrypoint.sh
  satisfactory/entrypoint.sh
  scpsl/entrypoint.sh
  valheim/entrypoint.sh
Due: run-build-ark

fix(gmod): download_content not working
  gmod/entrypoint.sh
Due: none

fix: Change to Uppercase; More Appropiate Naming for Function
  arma3-windows/Dockerfile
  arma3-windows/entrypoint.ps1
Due: none

ci: add workflow to build ARMA III for Windows
  .github/workflows/arma3-win.yml
Due: none

fix: install SDL for SteamCMD images
  arma3/Dockerfile
  rust/Dockerfile
  scpsl/Dockerfile
Due: none

feat: add image for Eco
  .DS_Store
  .github/workflows/eco.yml
  eco/Dockerfile
  eco/README.md
  eco/entrypoint.sh
Due: none

feat: Non-Admin Arma3 User; Moved File Locations for that
  arma3-win/Dockerfile
  arma3-win/entrypoint.ps1
Due: none

fix: Multiple Startup Errors; Security Issue SteamCMD; Reduced Mod Handl
  arma3-win/Dockerfile
  arma3-win/entrypoint.ps1
Due: none

fix(csgo): correctly set gslt
  csgo/entrypoint.sh
Due: none

fix(arma3): default to host 0.0.0.0
  arma3/entrypoint.sh
  pz/README.md
Due: none

fix: add workaround for disk_write_failure error
  ark/entrypoint.sh
  arma3/entrypoint.sh
  csgo/entrypoint.sh
  eco/entrypoint.sh
  gmod/entrypoint.sh
  rust/entrypoint.sh
  satisfactory/entrypoint.sh
  scpsl/entrypoint.sh
  valheim/entrypoint.sh
Due: run-build-ark

feat: Add Project: Zomboid
  .github/workflows/pz.yml
  pz/Dockerfile
  pz/README.md
  pz/entrypoint.sh
Due: none

chore: remove .DS_Store from git
  .DS_Store
  .gitignore
Due: none

chore: add Eco, Project Zomboid and Satisfactory to README.md
  README.md
Due: none

fix(eco): remove unneded dependencies
  eco/Dockerfile
Due: none

fix(rust): remove unneded dependencies
  rust/Dockerfile
Due: none

Path conditions:
  run-build-altv: any of: altv/.*
  run-build-ark: any of: ark/.*
