Repository IPS-Hosting/game-images: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-altv, run-build-ark

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2
  continuation: circleci/continuation@0.2.0

workflows:
  weekly-rebuild:
    triggers:
      - schedule:
          cron: 0 0 * * 0
          filters:
            branches:
              only: main
    jobs:
      - continuation/continue:
          configuration_path: .circleci/build-config.yml
          parameters: |-
            {
              "run-build-altv": true,
              "run-build-ark": true
            }

  check-updated-files:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/build-config.yml
          mapping: |
            altv/.* run-build-altv true
            ark/.* run-build-ark true

Add CircleCI badge to README
  README.md
Due: none

Remove weekly rebuild
  .circleci/config.yml
  README.md
Due: none

Fix formatting
  altv/entrypoint.sh
Due: run-build-altv

Specify correct working directory
  .circleci/build-config.yml
Due: none

Echo start command before evaluating it
  altv/entrypoint.sh
  ark/entrypoint.sh
Due: run-build-altv, run-build-ark

Use docker path instead of working_directory
  .circleci/build-config.yml
Due: none

Use small resource class to save credits
  .circleci/build-config.yml
Due: none

Remove onset from README
  README.md
Due: none

Fix typo in README
  altv/README.md
Due: run-build-altv

Ensure SteamCMD exists before applying fixes
  ark/entrypoint.sh
Due: run-build-ark

Fix ports in README and add note about BETA env variables
  ark/README.md
Due: run-build-ark

Add ARMA III
  .circleci/build-config.yml
  .circleci/config.yml
  arma3/Dockerfile
  arma3/README.md
  arma3/entrypoint.sh
Due: none

Switch from CircleCI to Github Actions
  .circleci/build-config.yml
  .circleci/config.yml
  .github/workflows/altv.yml
  .github/workflows/ark.yml
  .github/workflows/arma3.yml
  README.md
Due: none

Configure dependabot for docker and github-actions
  .github/dependabot.yml
Due: none

Fix schedule syntax
  .github/workflows/altv.yml
  .github/workflows/ark.yml
  .github/workflows/arma3.yml
Due: none

Add note about weekly builds
  README.md
Due: none

Fix formatting in Dockerfile
  ark/Dockerfile
Due: run-build-ark

Add DEBIAN_FRONTEND=noninteractive
  arma3/Dockerfile
Due: none

Fix wrong syntax for multiple tags
  .github/workflows/altv.yml
  .github/workflows/ark.yml
  .github/workflows/arma3.yml
Due: none

Reformat Dockerfile
  arma3/Dockerfile
Due: none

Add checkout step and prefix version tag
  .github/workflows/altv.yml
  .github/workflows/ark.yml
  .github/workflows/arma3.yml
Due: none

Correctly escape env variables in README
  altv/README.md
  ark/README.md
  arma3/README.md
Due: run-build-altv, run-build-ark

Add CSGO
  .github/workflows/csgo.yml
  csgo/Dockerfile
  csgo/README.md
  csgo/entrypoint.sh
Due: none

Add default info about gamemode and center GAME_MODE column
  csgo/README.md
Due: none

Fix readme path and add docker hub description
  .github/workflows/altv.yml
  .github/workflows/ark.yml
  .github/workflows/arma3.yml
  .github/workflows/csgo.yml
Due: none

Make clear that images contain game servers not games
  README.md
Due: none

More fixes to file formatting
  altv/README.md
  ark/README.md
  ark/entrypoint.sh
  arma3/README.md
  arma3/entrypoint.sh
  csgo/README.md
  csgo/entrypoint.sh
Due: run-build-altv, run-build-ark

Remove blank line between if statements
  csgo/entrypoint.sh
Due: none

Add Garry's Mod
  .github/workflows/gmod.yml
  gmod/Dockerfile
  gmod/README.md
  gmod/entrypoint.sh
  gmod/mount.cfg
Due: none

Check if steam credentials exist
  arma3/entrypoint.sh
Due: none

Login anonymous for gmod and csgo
  csgo/entrypoint.sh
  gmod/entrypoint.sh
Due: none

Use relative symlinks
  arma3/entrypoint.sh
Due: none

Fix header in gmod README
  gmod/README.md
Due: none

Add Rust
  .github/workflows/rust.yml
  rust/Dockerfile
  rust/README.md
  rust/entrypoint.sh
Due: none

Remove unneeded rsync dependency from rust
  rust/Dockerfile
Due: none

Add SCP:SL
  .github/workflows/scpsl.yml
  scpsl/Dockerfile
  scpsl/README.md
  scpsl/entrypoint.sh
Due: none

Use full game name in README
  scpsl/README.md
Due: none

Remove Game content section from rust and scpsl
  rust/README.md
  scpsl/README.md
Due: none

Fix scpsl ports in README and Dockerfile
  scpsl/Dockerfile
  scpsl/README.md
Due: none
